{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="breadcrumbs-area gray-bg ptb-30 port bread-card solid-color">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="breadcrumbs">
                            <h2 class="page-title">Цены</h2>
                            <ul>
                                <li>
                                    <a href="#">Главная</a>
                                </li>
                                <li>
                                    <a class="active" href="#">Цены</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
</section>
<div class="portfolio-area gray-bg ptb-40">
<div class="container">
<div class="portfolio-menu text-center mb-50">
<button data-filter=".cat1" class="firstButton">Ногтевой сервис</button>
<button data-filter=".cat2">Ресницы и брови</button>
<button data-filter=".cat3">Эстетическая косметология</button>
<button data-filter=".cat4">Уход за волосами</button>
<button data-filter=".cat5">Обучение</button>
</div>

    <div class="row portfolio-style-3">
        <div class="grid">
            <div class="col-md-8 col-md-offset-2 col-sm-12 grid-item cat1">
                <div class="head_table_name">Маникюр</div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="text-left">Классический</td>
                        <td class="text-right">400 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Аппаратный/комбинированный</td>
                        <td class="text-right">600 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Бразильский (SPA)</td>
                        <td class="text-right">800 р</td>
                    </tr>
                    </tbody>
                </table>

                <div class="head_table_name">Покрытие</div>
                    <table class="table">
                    <tbody>
                    <tr>
                        <td class="text-left">Снятие лака</td>
                        <td class="text-right">50 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Снятие гель-лака</td>
                        <td class="text-right">200 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Снятие акрила</td>
                        <td class="text-right">300 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Выравнивание</td>
                        <td class="text-right">300 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Лечебный лак</td>
                        <td class="text-right">200 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Укрепление</td>
                        <td class="text-right">500 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Гель-лак</td>
                        <td class="text-right">400 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Гель-лак френч</td>
                        <td class="text-right">700 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Дизайн 1 ногтя</td>
                        <td class="text-right">50-100 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Лунный маникюр</td>
                        <td class="text-right">700 р</td>
                    </tr>
                    </tbody>
                </table>

                <div class="head_table_name">Наращивание ногтей</div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="text-left">Ремонт 1 ногтя</td>
                            <td class="text-right">300 р</td>
                        </tr>
                        <tr>
                            <td class="text-left">Ремонт 1 ногтя френч</td>
                            <td class="text-right">400 р</td>
                        </tr>
                        <tr>
                            <td class="text-left">Укрепление</td>
                            <td class="text-right">600 р</td>
                        </tr>
                        <tr>
                            <td class="text-left">Снятие наращенных ногтей</td>
                            <td class="text-right">500 р</td>
                        </tr>
                        <tr>
                            <td class="text-left">Коррекция</td>
                            <td class="text-right">1 600 р</td>
                        </tr>
                        <tr>
                            <td class="text-left">Коррекция френч</td>
                            <td class="text-right">1 900 р</td>
                        </tr>
                        <tr>
                            <td class="text-left">Наращивание ногтей</td>
                            <td class="text-right">2 000 р</td>
                        </tr>
                        </tbody>
                    </table>

                <div class="head_table_name">Уход</div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="text-left">Массаж рук (10 минут)</td>
                            <td class="text-right">200 р</td>
                        </tr>
                        </tbody>
                    </table>
            </div>

            <div class="col-md-8 col-md-offset-2 col-sm-12 grid-item cat2">
                <div class="head_table_name">Брови</div>
                    <table class="table">
                    <tbody>
                    <tr>
                        <td class="text-left">Окрашивание краской</td>
                        <td class="text-right">300 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Окрашивание хной</td>
                        <td class="text-right">400 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Коррекция формы</td>
                        <td class="text-right">300 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Архитектура + окрашивание</td>
                        <td class="text-right">800 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Ламинирование бровей</td>
                        <td class="text-right">1 800 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Пудровое напыление</td>
                        <td class="text-right">4 000 р</td>
                    </tr>
                    </tbody>
                </table>

                <div class="head_table_name">Ресницы</div>
                    <table class="table">
                    <tbody>
                    <tr>
                        <td class="text-left">Окрашивание краской</td>
                        <td class="text-right">300 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Окрашивание хной</td>
                        <td class="text-right">400 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Ламинирование ресниц</td>
                        <td class="text-right">1 800 р</td>
                    </tr>
                    </tbody>
                </table>

                <div class="head_table_name">Наращивание ресниц</div>
                    <table class="table">
                    <tbody>
                    <tr>
                        <td class="text-left">Классическое</td>
                        <td class="text-right">1 500 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Двойной объем (2D)</td>
                        <td class="text-right">1 800 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Тройной объем (3D)</td>
                        <td class="text-right">2 200 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Лёгкий голливуд</td>
                        <td class="text-right">2 800 р</td>
                    </tr>
                    <tr>
                        <td class="text-left">Тяжёлый голливуд</td>
                        <td class="text-right">3 600 р</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-8 col-md-offset-2 col-sm-12 grid-item cat3">

            <div class="head_table_name">Уход</div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="text-left">Комбинированная чистка лица</td>
                    <td class="text-right">1 800 р</td>
                </tr>
                <tr>
                    <td class="text-left">Массаж лица + маска по типу кожи</td>
                    <td class="text-right">1 200 р</td>
                </tr>
                <tr>
                    <td class="text-left">Миндальный пилинг</td>
                    <td class="text-right">1 600 р</td>
                </tr>
                <tr>
                    <td class="text-left">Пилинг фруктовыми кислотами</td>
                    <td class="text-right">4 000 р</td>
                </tr>
                </tbody>
            </table>

            <div class="head_table_name">SPA-уход</div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="text-left">Chocolate face treatment</td>
                    <td class="text-right">3 500 р</td>
                </tr>
                <tr>
                    <td class="text-left">Golden line face firming treatment</td>
                    <td class="text-right">4 000 р</td>
                </tr>
                <tr>
                    <td class="text-left">Hyaluronic treatment</td>
                    <td class="text-right">3 500 р</td>
                </tr>
                </tbody>
            </table>

            <div class="head_table_name">Татуаж</div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="text-left">Пудровое напыление бровей</td>
                    <td class="text-right">4 000 р</td>
                </tr>
                <tr>
                    <td class="text-left">Пудровое напыление губ</td>
                    <td class="text-right">4 500 р</td>
                </tr>
                </tbody>
            </table>
        </div>

            <div class="col-md-8 col-md-offset-2 col-sm-12 grid-item cat4">
            <div class="head_table_name">Счастье для волос</div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="text-left">Короткая длина (до ушей)</td>
                    <td class="text-right">2 000 р</td>
                </tr>
                <tr>
                    <td class="text-left">Средняя длина (от ушей до плеч)</td>
                    <td class="text-right">2 500 р</td>
                </tr>
                <tr>
                    <td class="text-left">Длинные волосы (ниже плеч)</td>
                    <td class="text-right">4 000 р</td>
                </tr>
                </tbody>
            </table>

            <div class="head_table_name">Горячий ботокс</div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="text-left">Короткая длина (до ушей)</td>
                    <td class="text-right">1 500 р</td>
                </tr>
                <tr>
                    <td class="text-left">Средняя длина (от ушей до плеч)</td>
                    <td class="text-right">2 000 р</td>
                </tr>
                <tr>
                    <td class="text-left">Длинные волосы (ниже плеч)</td>
                    <td class="text-right">от 2 500 р</td>
                </tr>
                </tbody>
            </table>

            <div class="head_table_name">Холодный ботокс</div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="text-left">Короткая длина (до ушей)</td>
                    <td class="text-right">1 300 р</td>
                </tr>
                <tr>
                    <td class="text-left">Средняя длина (от ушей до плеч)</td>
                    <td class="text-right">2 000 р</td>
                </tr>
                <tr>
                    <td class="text-left">Длинные волосы (ниже плеч)</td>
                    <td class="text-right">от 2 300 р</td>
                </tr>
                </tbody>
            </table>

            <div class="head_table_name">Наращивание волос</div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="text-left">Капсульное наращивание волос по итальянской технологии</td>
                    <td class="text-right">20 р за прядь</td>
                </tr>
                <tr>
                    <td class="text-left">Снятие наращенных волос</td>
                    <td class="text-right">10 р за прядь</td>
                </tr>
                </tbody>
            </table>
        </div>

            <div class="col-md-8 col-md-offset-2 col-sm-12 grid-item cat5">
            <div class="head_table_name">Курс по наращиванию ресниц</div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="text-left">Обучение в группе</td>
                    <td class="text-right">8 000 р</td>
                </tr>
                <tr>
                    <td class="text-left">Индивидуальное обучение</td>
                    <td class="text-right">10 000 р</td>
                </tr>
                </tbody>
            </table>

            <div class="head_table_name">Курс по уходу за бровями</div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="text-left">Создание архитектуры, коррекция формы, окрашивание</td>
                    <td class="text-right">4 000 р</td>
                </tr>
                </tbody>
            </table>

            <div class="head_table_name">Курс по ламинированию ресниц и бровей</div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="text-left">Курс по ламинированию ресниц и бровей</td>
                    <td class="text-right">4 000 р</td>
                </tr>
                </tbody>
            </table>

            <div class="head_table_name">Курс по наращиванию волос</div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="text-left">Капсульное наращивание волос по итальянской технологии</td>
                    <td class="text-right">5 000 р.</td>
                </tr>
                </tbody>
            </table>
        </div>

        </div>
         <div class="view-more text-center">
                <a href="/reserv">ЗАПИСАТЬСЯ</a>
         </div>
    </div>
</div>
</div>
{% endblock %}